.popup {
  pointer-events: none;
  max-width: 50%;
  background-color: var(--background-color);
  color: black;
  font-size: 14px;
  position: absolute;
  border-radius: inherit;
  border-radius: 5px;
  overflow: hidden;
  opacity: 1;
  z-index: 10;
}
.popupEnter {
  opacity: 0;
}

.popupEnterActive {
  opacity: 1;
  transition: opacity 500ms;
}

.popupExit {
  opacity: 1;
}

.popupExitActive {
  opacity: 0;
  transition: opacity 500ms;
}
.container {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
.photo {
  height: 200px;
}
.name {
  display: block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.birthTime {
  display: block;
  margin-bottom: 5px;
}
.infoContainer {
  padding-right: 10px;
  padding-left: 10px;
}
