.container {
  height: auto;
  transition: height 250ms linear;
  @media screen and (max-width: 1000px) {
    height: 100%;
    margin-right: 15px;
  }
}
.bio {
  display: block;
  height: auto;
}
.enter {
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
}

.enterActive {
  transform: scaleY(1);
  opacity: 1;
  transition: transform 500ms, opacity 500ms;
}

.exit {
  transform: scaleY(1);
  opacity: 1;
}

.exitActive {
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: transform 500ms, opacity 500ms;
}

.showedBio {
  background-color: white;
  height: auto;
  transition: height 250ms linear;
}
.visiblePartContainer {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  @media screen and (max-width: 1000px) {
    height: 100%;
  }
}

.container:not(:last-child) {
  /* margin-bottom: 10px; */
  border-bottom: 1px solid #00000050;
}
.name {
  margin-bottom: 15px;
  margin-top: auto;
}
.birthTime {
  font-size: 17px;
  margin-bottom: 5px;
  display: block;
}
.birthCity {
  display: block;
  font-size: 17px;
  margin-bottom: 5px;
}
.photo {
  display: block;
  @media screen and (max-width: 1000px) {
    margin: auto;
  }

  max-height: 180px;
  border-radius: 5px;
  align-self: flex-start;
  border: 2px solid var(--accent-color);
}
.mainInfoContainer {
  width: 100%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border-bottom: 1px solid black; */
}
.genresHeading {
}
.mapIcon {
  width: 30px;
  stroke: currentColor;
  margin-right: 10px;
  cursor: pointer;
}
.button {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: auto;
  background-color: var(--background-color);
  border-radius: 5px;
  color: black;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  cursor: pointer;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  &:hover {
    background-color: var(--accent-color);
    color: white;
  }
}
.buttonText {
  font-size: 15px;
}
