.section {
  width: 100%;
  background-color: var(--background-color);
  border: 1px solid black;
  height: 100%;
}
.list {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-color: var(--accent-color);
  transition: height 250ms linear;
}
