.mapContainer {
  border-radius: 5px;
  width: 60%;
  height: 100%;
}
.mapContainer > ymap {
  transition: transform 1000ms ease;
}
.popup {
}
.popupPhoto {
  width: 100px;
}
.placemark {
  width: 30px;
  stroke: var(--accent-color);
  margin-right: 10px;
  cursor: pointer;
  z-index: 10000;
}
