.mapContainer {
  border-radius: 5px;
  width: 60%;
  height: 100%;
}
.popup {
  pointer-events: none;
  max-width: 50%;
  background-color: white;
  color: black;
  font-size: 14px;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.popupPhoto {
  width: 100px;
}
