.App {
  height: 100dvh;
  width: 100vw;
}
.footer {
  width: 100%;
  height: 52px;
  background-color: #282c34;
}
.main {
  position: relative;
  text-align: center;
  width: 100%;
  height: calc(100% - 52px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
  }
}
.switcherContainer {
  width: 70px;
  height: 70px;
  background-color: white;
  position: absolute;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  top: 20px;
  right: 20px;
}
.switcher {
  transition: opacity 250ms linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  stroke: var(--accent-color);
}
.contentContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms linear;
}
.contentContainer.hidden {
  opacity: 0;
  z-index: -2;
  transition: opacity 250ms linear;
}
.flag {
  position: absolute;
  width: 100px;
  height: auto;
  top: 10px;
  left: 10px;
  z-index: 100;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
